main{
    width: 100%;
}

#hero{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(32,5,52);
    background: linear-gradient(0deg, rgba(32,5,52,1) 0%, rgba(250,90,6,.25) 50%, rgba(32,5,52,1) 100%);
}

#hero *{
    text-align: left;
}

#hero > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4.375rem;
    width: 100%;
}

 #hero #illustration{
    width: 95%;
    border-radius: 30px;
}

#discord-btn{
    margin-top: 40px;
}

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    padding: 10px 15px;
}

#banner #slogan{
    letter-spacing: 5px;
    text-align: center;
}

#belief{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#belief #ideology{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 100px;
}

#belief #ideology > div{
    width: 100%;
    max-width: 600px;
}

#belief img{
    width: 100%;
}

#events{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}

#events h2{
    text-align: center;
}

#events #cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 100px;
}

#events #cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
    border-radius: 20px;
    gap: 10px;
    padding: 15px;
}

/*

#events #cards .card .description{
    max-height: 90px;
    overflow-y: hidden;
}

*/

#events #cards .card .snapshot{
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#events #cards .card .snapshot img{
    width: 100%;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}

#projects h2{
    text-align: center;
}

#projects #cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 100px;
}

#projects #cards .card{
    display: grid;
    grid-template-areas: "name name logo" "description description logo" "description description view";
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
    border-radius: 20px;
    gap: 10px;
    padding: 15px;
    height: 250px;
}

#projects #cards .card .logo img{
    min-width: 150px;
    min-height: 150px;
    aspect-ratio: 1;
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
    border-radius: 5px;
}

#projects #cards .card .logo{
    grid-area: logo;
}

#projects #cards .card .name{
    grid-area: name;
}

#projects #cards .card .description{
    grid-area: description;
}

#projects #cards .card .view{
    grid-area: view;
    text-align: center;
}

#projects .more{
    text-align: center;
}

#founders{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    padding: 20px 30px;
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
}

#founders #carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    max-width: 100%;
    gap: 60px;
    padding-bottom: 20px;
}

#founders #carousel::-webkit-scrollbar{
    height: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

#founders #carousel::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
}

#founders #carousel::-webkit-scrollbar-thumb{
    background-color: var(--fg-prpl); /* Scrollbar color */
    border-radius: 10px;     /* Make scrollbar rounded */
    border: 2px solid #ffffff; /* Padding around the thumb */
}

#founders #carousel .founder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    min-height: 370px;
    gap: 5px;
}

#founders #carousel .founder img{
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#founders{
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
}

#content *{
    text-align: center;
}

#content #bento{
    display: grid;
    grid-template-areas: "instagram tiktok linkedin linkedin"
                         "facebook tiktok youtube youtube";
    gap: 20px;
}

#content #bento .plateform#instagram{
    grid-area: instagram;
    background-image: url("../assets/images/content-snapshots/instagram.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#content #bento .plateform#facebook{
    grid-area: facebook;
    background-image: url("../assets/images/content-snapshots/facebook.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#content #bento .plateform#tiktok{
    grid-area: tiktok;
    background-image: url("../assets/images/content-snapshots/tiktok.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 620px;
}

#content #bento .plateform#linkedin{
    grid-area: linkedin;
    background-image: url("../assets/images/content-snapshots/linkedin.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 552.54px;
    height: 300px;
}

#content #bento .plateform#youtube{
    grid-area: youtube;
    background-image: url("../assets/images/content-snapshots/youtube.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 552.54px;
    height: 300px;
}

#content #bento .plateform{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

#content #bento .plateform .data{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 5px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    padding: 15px;
}

#content #bento .plateform .data .r{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

#content #bento .plateform .data .text{
    text-align: left;
}

#content #bento .plateform .data a{
    padding: 5px 10px;
}

#content #bento .plateform#instagram .data a{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#content #bento .plateform#facebook .data a{
    background: #1877F2;
}

#content #bento .plateform#tiktok .data a{
    background: #00F9F0;
}

#content #bento .plateform#linkedin .data a{
    background: #0076B2;
}

#content #bento .plateform#youtube .data a{
    background: #FF0000;
}

#blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
    border-radius: 20px;
}

#blog #posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

#blog #posts .post{
    background: var(--bg-glass);
    box-shadow: var(--shdw-glass);
    backdrop-filter: var(--filter-glass);
    -webkit-backdrop-filter: var(--filter-glass);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
}

#blog #posts .post .cover{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#blog #posts .post .cover, #blog #posts .post .cover img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#blog #posts .post .data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    padding: 10px 15px;
}

#newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}

#newsletter h2{
    text-align: center;
}

#newsletter #subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#newsletter #subscribe > div{
    width: 100%;
} 

#newsletter #subscribe #illustration{
    text-align: center;
}

#newsletter #subscribe #illustration img{
    width: 90%;
    max-width: 400px;
}

#newsletter #subscribe #form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

#newsletter #subscribe #form input{
    margin: 10px 0;
    min-width: 100%;
}


#newsletter #subscribe #form input[type="submit"]{
    cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    /* Tablet */

    #hero > div{
        padding: 0 2rem;
    }

    #events{
        padding: 25px 40px;
    }

    #events #cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px 0;
    }

    #projects #cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px 0;
    }
    

    #content #bento{
        grid-template-areas: "instagram tiktok"
                             "facebook tiktok"
                             "linkedin linkedin"
                             "youtube youtube";
    }

    #content #bento .plateform#linkedin{
        width: 620px;
        height: 349.27px;
    }
    
    #content #bento .plateform#youtube{
        width: 620px;
        height: 349.27px;
    }

    #blog #posts{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 50px) and (max-width: 767px){

    /* Mobile */

    #hero{
        flex-direction: column-reverse;
        justify-content: start;
        gap: 20px;
        padding: 20px 0;
    }

    #hero *{
        text-align: center;
    }

    #hero > div{
        align-items: center;
        padding: 0 1.25rem;
    }

    #belief #ideology{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 15px 20px;
    }

    #events{
        padding: 15px 20px;
    }

    #events #cards{
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px 0;
    }

    #projects #cards{
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px 0;
    }

    #content #bento .plateform#linkedin{
        width: 300px;
        height: 169px;
    }
    
    #content #bento .plateform#youtube{
        width: 300px;
        height: 169px;
    }

    #content #bento{
        grid-template-areas: "instagram" "tiktok" "tiktok" "facebook" "linkedin" "youtube";
    }

    #blog #posts{
        grid-template-columns: 1fr;
    }

    #newsletter #subscribe{
        flex-direction: column;
    }
}